<?xml version="1.0" encoding="utf-8"?>
<!-- scripts/android/build.py fills in @PACKAGE@, @LABEL@ and @DEBUGGABLE@. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="@PACKAGE@"
    android:installLocation="auto">

    <!-- The renderer is Aurora's Dawn on Vulkan 1.1; OpenGL ES is not used. -->
    <uses-feature android:name="android.hardware.vulkan.version" android:version="0x401000" android:required="true" />
    <uses-feature android:glEsVersion="0x00030000" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.gamepad" android:required="false" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
    <uses-feature android:name="android.hardware.usb.host" android:required="false" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:label="@LABEL@"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:debuggable="@DEBUGGABLE@"
        android:hasCode="true"
        android:extractNativeLibs="false"
        android:hardwareAccelerated="true"
        android:isGame="true"
        android:appCategory="game"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <profileable android:shell="true" />

        <activity
            android:name="dev.bluewake.android.BlueWakeActivity"
            android:exported="true"
            android:label="@LABEL@"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorLandscape"
            android:resizeableActivity="true"
            android:preferMinimalPostProcessing="true"
            android:configChanges="layoutDirection|locale|grammaticalGender|fontScale|fontWeightAdjustment|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation|density">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
